{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
	{% if post.published_date %}
	<div class="date">
		{{ post.published_date }}
	</div>
	{% else %}
	    <a class="btn btn-default" href="{% url 'blog:postpublish' pk=post.pk %}">Publish</a>
	{% endif %}
	<a class="btn btn-default" href="{% url 'blog:postedit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	<a class="btn btn-default" href="{% url 'blog:postremove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

	<h1>{{ post.title }}</h1>
	<p>{{ post.text|linebreaksbr }}</p>
	<p> Autor: {{ post.author  }}  </p>
	{% if post.image  %}
		<img src="{{ MEDIA_URL }}{{ post.image.url }}">
	{% endif  %}
</div>
{% endblock %}
